/*HTML Codes*/
body {
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Martel', serif;
}


h1 {
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 110px;
  color: #d9adad;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #d9adad;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #84a9ac;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  border-color: #84a9ac;
  margin: 100px auto;
  width: 3%;
}

p {
  line-height: 2;
}

a {
  color: #d9adad;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}

/*DIV Codes*/

.top-container {
  background-color: #DDDDDD;
  position: relative;
  padding-top: 100px;
}



.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;

}

.intro {
  width: 30%;
  margin: auto;
}

.Contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.opleader {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.opcomm {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container {
  background-color: #DDDDDD;
  position: relative;
  padding-bottom: 20px;

}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: sans-serif;
   width: 203px;
   font-size: 20px;
   font-weight: 100;
   padding: 32px;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 50px;
}

.btn:hover {
   border: solid #FFFFFF 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   text-decoration: none;
}
